:root { /* setting values for hue colors */
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct:145;
}
body {
    --hue: 300;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content:center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct { /* Body changes to green when correct */
    --hue: var(--hue-correct);
}

body.wrong { /* Body changes to red when wrong */
    --hue: var(--hue-wrong);
}

.container { /* Container for quiz */
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid { /* Make the btns be displayed in a grid */
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin:20px 0;
}

#question { /* Question in quiz */
    font-size: 40px;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-weight: bold;
    padding: 10px 20px;
}

.controls { /* make control btns more flexible and center them */
    display:flex;
    justify-content: center;
    align-items:center;
}

.hide {
    display: none;
}
